
@font-face {
  font-family: Hyper;
  src: url("./_fonts/Hyperspace Bold.otf");
}

@font-face {
  font-family: HyperItalic;
  src: url("./_fonts/Hyperspace Italic.otf");
}

@font-face {
  font-family: Arista;
  src: url("./_fonts/Arista.ttf");
}

body {
    background-color: #101010;
}

html {
    overflow: hidden;
}
